*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Maven Pro', sans-serif;
}
body{
    color: #000000;
    background: #fffaec;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 9%;
    background: transparent;
    z-index: 1000;
}
.navbar{
    display: flex;

}
.navbar a{
    margin: 0 20px;
    padding: 4px;
    color: #000000;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all .50s ease;
}
.navbar a:hover{
    border-bottom: 2px solid #3f51dc;
    color: #3f51dc;
}
#menu-icon{
    font-size: 34px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.top-btn{
    display: inline-block;
    padding: 9px 25px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: #3f51dc;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all .50s ease;
}
.top-btn:hover{
    background: transparent;
    color: #3f51dc;
    border: 2px solid #3f51dc;
}
section{
    padding: 0 17%;
}

@media (max-width:1760px){
    header{
        padding: 14px 4%;
    }
    .icon{
        padding: 0 4%;
    }
    section{
        padding: 0 13%;
    }
}
@media (max-width:1560px){
    .hero-text h1{
        font-size: 80px;
        margin: 0 0 20px;
    }
}
@media (max-width:1300px){
    .icon{
        display: none;
    }
    section{
        padding: 0 4%;
    }
}
@media (max-width:1060px){
    .hero{
        grid-template-columns: 1fr;
    }
    .hero-imgg{
        text-align: center;
    }
    .hero-imgg img{
        width: 550px;
        height: auto;
    }
    .hero-text{
        padding-top: 50px;
        text-align: center;
    }
    .icon{
        display: block;
    }
    .hero-text h6{
        margin-bottom: 15px;
    }
}
@media (max-width:960px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 250px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: #f9f4e5;
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        padding: 15px;
        font-size: 22px;
    }
    .navbar a:hover{
        border-bottom: 2px solid transparent;
    }
    .navbar.active{
        right: 0;
    }
}
@media (max-width:750px){
    .hero-imgg img{
        width: 450px;
        height: auto;
    }
}
@media (max-width:570px) {
    .hero-txt h1{
        font-size: 70px;
    }
    .hero-text p{
        margin-bottom: 20px;
    }
    .hero{
        gap: 10px;
    }
}
@media (max-width:500px){
    .hero-imgg img{
        width: 380px;
        height: auto;
    }
    .hero-text p{
        font-size: 15px;
    }
    .hero-text h1{
        font-size: 60px;
    }
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid #3f51dc;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-family: 'Permanent Marker', cursive;
    color: #3f51dc;
    font-size: 40px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 1px solid #3f51dc;
    border-radius: 10px;
    font-size: 16px;
    color: #3f51dc;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color:#3f51dc;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    transform: translate(-50%);
    font-size: 20px;
}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input{
    margin-right: 3px;
}
.wrapper .btn{
    display: inline-block;
    padding: 12px 25px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: #3f51dc;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: all .50s ease;
    width:100%;
    cursor: pointer;
}
.btn:hover{
    background: transparent;
    color: #3f51dc;
    border: 2px solid #3f51dc;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}
.register-link p a{
    font-weight: 600;
}